<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>전임 강병천</title>

<!-- 앵귤러 -->
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.6/angular.min.js"></script>
<!-- 제이쿼리 및 부트 스트랩 -->
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>
<!-- 부트 스트랩 CSS-->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"/>

</head>

<script type="text/javascript">

	//모듈담고
	var metaApp = angular.module('meta-app',[]);
	//컨트롤러 불러오기
	metaApp.controller('metaCtrl',['$scope','$http', function($scope,$http){
		//페이지 리스트 사이즈
		var page_size = 5;
		//페이지 번호
		var page_number = 0;
		//총 페이지 수
		var size;
		//페이지 리스트 불러오기
		var pageList = function(){
			//json 객체 가져오기
			$http.get("http://10.1.5.200:3000/biz/getBizList?page_size="+page_size+"&page_number="+page_number+"&API_KEY=META_TEST")
			.then(function(response){
				//페이징 배열 초기화
				$scope.pageNumbers = [];
				//dataList 담기
				$scope.projectList = response.data.data.dataList;
				//totalSize 담기
				$scope.totalSize = response.data.data.totalSize;
				//콘솔 출력
				console.log(response);		
				//총 페이지 수
				size = pageNum($scope.totalSize, page_size);
				//pageNumbers 배열에 원하는 페이징 번호 넣기
				countPageNum(page_number);
				//페이징 컬러
				pageColor(page_number);
			});
		}
		
		//페이지 번호 불러오기 총 11개 가운데 번호 기준으로 바뀜
		var countPageNum = function(page_number){
			var max;
			var min;
			if (size<11){ // 총 페이지가 11개 이하일때
				max = size;
				min = 0;
			}else{
				if(page_number>=5 && page_number<=size-6){ // 선택한 페이지가 정확히 중간일때
					min= page_number-5;
					max= min+11;
				}else if(page_number<5){//선택한 페이지가 중간기준 왼쪽일때
					min=0;
					max=11;
				}else if(page_number>size-6){//선택한 페이지가 중간기준 오른쪽일때
					max=size;
					min=max-11;
				}
			}
			
			//배열에 값넣기
			for (var i = min; i < max; i++) {
				$scope.pageNumbers.push(i);
			}
			
		}
		
		//리스트 불러오기 실행 
		$scope.page = function(num){
			//alert(num); //파라미터값 확인
			if(num == "pre"){ // 전페이지
				page_number -= 1;
			}else if(num =="next"){ //다음페이지
				page_number += 1;
			}else{ // 선택한 페이지
				page_number = num;
			}
			
			if(page_number<0){ // 전페이지가 더이상 없을때
				page_number = 0;
			}else if(page_number>=size){// 다음페이지가 더이상 없을때
				page_number = size-1;
			}
			
			// 페이지 출력
			pageList();
			//선택페이지 컬러
			pageColor(page_number);
			
		}
		
		//초기에 리스트 불러오기 실행
		pageList();
		
	}]);
	
	
	
	
	//총 페이지 수 계산
	function pageNum(num, page_size){
		var size = Math.ceil(num/page_size); 
		return size;
	}
	
	//페이징 컬러
	function pageColor(page_number){
		var color = document.getElementsByClassName('pageColor');
		
		for (var i = 0; i < color.length; i++) {
			if(page_number==color[i].value){
				angular.element(color[i]).addClass("active");
				
			}else{
				angular.element(color[i]).removeClass("active");
			}
		}
	}
	
</script>

<body ng-app="meta-app" ng-controller="metaCtrl">
	<div class="container">
		<div class="row">
			<div class="col-12">
				<h5 class="m-t-20">현재 등록 된 프로젝트 수 {{totalSize}}</h5>
				<div class="table-responsive-sm table-hover">
					<table class="table">
						<thead>
							<tr>
								<th scope="col">프로젝트명</th>
								<th scope="col">사이트명</th>
								<th scope="col">프로젝트 상세</th>
							</tr>
						</thead>
						<tbody ng-repeat="project in projectList">
							<tr>
								<td>{{project.pr_nm}}</td>
								<td>{{project.site_nm}}</td>
								<td>{{project.product_detail}}</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
	<nav aria-label="Page navigation example" >
		<ul class="pagination justify-content-center">
		<li class='page-item' value="'pre'"><a class='page-link' href='#' tabindex='-1' ng-click="page('pre')" >Previous</a></li>
		<li class="pageColor page-item {{active}}" ng-repeat="paging in pageNumbers" value={{paging}}><a class='page-link' href='#' ng-click="page(paging)">{{paging+1}}</a></li>
		<li class='page-item' value="'next'"><a class='page-link' href='#' ng-click="page('next')">Next</a></li>
		</ul>
	</nav>
</body>
	<script type="text/javascript">
			
			
	</script>
</html>

